.full-container
  = render "shared/header"
  %main
    .mypage
      = render partial: "shared/sidebar"
      .maypage__container
        .logout__container
          .logout__container__btn ログアウト
= render 'shared/full_footer'
