.full-container
  = render partial: "shared/header"
  %main
    .mypage
      = render partial: "shared/sidebar"
      .maypage__container
        .logout__container
          =link_to 'ログアウト', destroy_user_session_path, method: :delete ,class:'logout__container__btn'
