.flex-center{
  display: flex;
}
.flex-start{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: space-between
}
.flex-between{

}
