.background
  =render 'shared/products-new-header'
  .inputs
    %h3.inputs__header.new_user_header 新規会員登録
  .inputs.register-btn
    =link_to new_user_registration_path, class:'register-btn__mail' do
      .register-btn__mail__logo
        =fa_icon("envelope")
      .register-btn__mail__text メールアドレスで登録
      .register-btn__empty
    -# =link_to user_facebook_omniauth_authorize_path do
    -# initalizer/devise.rbで設定した環境変数に値を入れたのち、↑コメントアウトを外して↓5行をdoの中に入れ
    .register-btn__facebook
      .register-btn__facebook__logo
        =fa_icon("facebook-square")
      .register-btn__facebook__text Facebookで登録
      .register-btn__empty
    -# = link_to user_google_oauth2_omniauth_authorize_path do
    -# initalizer/devise.rbで設定した環境変数に値を入れたのち、↑コメントアウトを外して↓5行をdoの中に入れ
    .register-btn__google
      .register-btn__google__logo
        =fa_icon("google")
      .register-btn__google__text Googleで登録
      .register-btn__empty
  =render 'shared/products-new-footer'
