body{
    font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}
.white-wrap{
    background-color: white;
    .inner-header{
        height: 100px;
        width: 98%;
        padding: 8px 20px 0;
        margin: auto;
        background-color: white;
        @media(min-width: 900px){
            width: 900px;
            }
        @media(min-width:1200px){
            width: 1200px;
        }
        &__top{
            @media(min-width: 700px){
            display: flex;
            }
            &__wrap{
            @include flex-spbet-end;
                &__title{
                    margin-left: 45px;
                }
                .inner__header__top__minilogo{
                    @include flex-spbet;
                    margin-right: 40px;
                    margin-bottom: 10px;
                    @media(min-width:700px){
                        display: none;
                    }
                    .fa{
                    color: black;
                    margin-left:20px;
                    }
                }
            }
            &__form{
                display: flex;
                width: 90%;
                margin-left:45px;
                position:relative;
                &__text{
                    box-sizing: border-box;
                    height: 40px;
                    width: 100%;
                    border-radius:4px;
                    border: solid 1px gray;
                    padding: 0 42px 0 10px;
                    color:gray;
                    font-size:16px;
                    background-color:lighten(gray,40%);
                    // position:absolute;
                }
                .fa.fa-search{
                    position:absolute;
                    z-index: 2;
                    right: 10px;
                    top: 10px;
                    color: gray;
                }
            }
        }
        &__bottom{
            display: flex;
            justify-content :space-between;
            align-items: flex-start;
            margin-top: 8px;
            padding-left:38px;
            &__left{
                font-size: 14px;
                font-weight: 400;
                list-style-type: none;
                @include flex-spbet;
                margin: auto;
                position: relative;
                width: 80%;
                display: none;
                @media(min-width: 760px){
                    display: block;
                    display:flex;
                    align-items: flex-start;
                    width:auto;
                    margin-left:10px;
                }
                &__left{
                    @include header-list(0);
                    .access-btn{
                        text-decoration: none;
                        color:black;
                        .fa{
                            color:red;
                        }
                        &:hover{
                            color:lightblue;
                            .fa{
                                color:red;
                            }
                        }
                    }
                    &__category-lists{
                        z-index: 999999;
                        position: absolute;
                         display: none;
                         width: 600px;
                        &__list-1{
                            background-color: white;
                            border-right: 0 1px 1px 1px solid #DDDDDD;
                            width:33%;
                            &__link{
                                color: black;
                                padding: 5px 10px;
                            }
                        }
                        &__list-2{
                            background-color: white;
                            border-right: 0 1px 1px 1px solid #DDDDDD;

                            &__link{
                                color: black;
                                padding: 5px 10px;
                            }
                        }
                        &__list-3{
                            background-color: white;
                            border-right: 0 1px 1px 1px solid #DDDDDD;

                            &__link{
                                color: black;
                                padding: 5px 10px;
                            }
                        }
                    }
                    &:hover > div{
                        display: flex;
                    }
                }
                &__right{
                    @include header-list(30px);
                    .access-btn{
                        text-decoration:none;
                        color:black;
                        .fa.fa-tag{
                            color:$red;
                        }
                        &:hover{
                            color:lightblue;
                            .fa.fa-tag{
                            color:$red;
                            }
                        }
                    }
                }
            }
            &__right{
                display:none;
                @media(min-width: 700px){
                    display: block;
                }
                list-style-type: none;
                li{
                    font-size: 14px;
                    @include header-list(30px);
                    .access-btn{
                        text-decoration: none;
                        color:black;
                        &:hover{
                            color:lightblue;
                        }
                    }
                }
            }
        }
    }
    .inner__header__top__wrap__title{
    margin-left: 45px;
    }
}
.login-btn{
    background-color: $caution;
    text-decoration: none;
    color: $white;
    font-size: 14px;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    &:hover{
        @media(max-width:700px){
        text-decoration: underline;
        opacity: 0.8;
        }
    }
}
.new-user-btn{
    background-color: $white;
    text-decoration: none;
    color: #0099FF;
    font-size: 14px;
    padding: 8px 10px 8px 10px;
    border: solid 1px #0099FF;
    border-radius: 5px;
    margin-left: 20px;
    @media(min-width:700px){
        display: none;
        }
    &:hover{
        text-decoration: underline;
        opacity: 0.7;
        color: $white;
        background-color: #0099FF;
        }
    &-long{
        background-color: $white;
        text-decoration: none;
        color: #0099FF;
        font-size: 14px;
        padding: 8px 10px 8px 10px;
        border: solid 1px #0099FF;
        border-radius: 5px;
        display: none;
        line-height: 16px;
        @media(min-width:700px){
            display: block;
        }
        &:hover{
            color: $white;
            background-color: #0077FF;
            transition: all .4s;
        }
    }
}
