.top-main{
  overflow-y:auto;
  background-color: $gray;
  &__image{
    text-align: center;
  }
  &__pickup{
    text-align: center;
    font-size:30px;
    padding:40px 0 20px 0;
    font-weight: bold;
    width:940px;
    margin: 0 auto;
  }
  .item-box-container{
    margin: 0 auto;
    width:940px;
    .items-box{
      
      margin:26px 11px;
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      &__category{
        text-decoration: none;
        color:#0099e8;
        &:hover{
          text-decoration:underline;
        }
      }
    }
    .items-box-content{
        display:flex;
        flex-wrap: wrap;
      .item-box{
          background-color: $white;
          margin: 0 0 0 20px;
          padding-bottom: 5px;
        &__link{
          text-decoration: none;
          color:black;
          &__photo{
            img{
              height:220px;
              width:213px;
            }
          }
          &__detail{
            padding: 16px;
            height:78px;
            &__name{
              padding: 16px;
            }
            &__middle{
              display:flex;
              justify-content: space-between;
              &__price{
              font-size: 15px;
              font-weight: 600;
              }
              &__heart{
                .fa.fa-heart{
                color:palevioletred;
              }
            }
          }
            &__tax{
              font-size:10px;
            }
          }
        }
      }
    }
  }
  .all-items{
    float:right;
    padding: 20px 0 30px;
  }
  .all-items a{
    text-decoration: none;
    color: #0099e8;
    font-size:15px;
    &:hover{
      text-decoration: underline;
    }
  }
}
