.top-main{
  overflow-y:auto;
  background-color: $gray;
  &__image{
    text-align: center;
  }
  &__pickup{
    text-align: center;
    font-size:30px;
    padding:40px 0 20px 0;
    font-weight: bold;
    width:940px;
    margin: 0 auto;
  }
  .item-box-container{
    margin: 0 auto;
    width:940px;
    padding-top: 50px;
    .items-box{
      margin:26px 11px;
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      &__category{
        text-decoration: none;
        color:#0099e8;
        &:hover{
          text-decoration:underline;
        }
      }
    }
    .items-box-content{
        display:flex;
        flex-wrap: wrap;
      .item-box{
          background-color: $white;
          margin: 0 0 0 20px;
          padding-bottom: 5px;
          width:213px;
        &__link{
          text-decoration: none;
          color:black;
          position: relative;
          &__soldout-tag{
            position: absolute;
            z-index: 100;
            border-left: 50px solid red;
            border-top: 50px solid red;
            border-bottom: 50px solid transparent;
            border-right: 50px solid transparent;
            width: 0;
            height: 0;
            &__text{
             transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
              -webkit-transform: rotate(-45deg);
              color: $white;
              position: absolute;
              font-weight: bold;
              font-size: 24px;
              top: -30px;
              left: -48px; 
            }
          }
          &__photo{
            img{
              height:220px;
              width:213px;
            }
          }
          &__detail{
            padding: 16px;
            height:78px;
            &__name{
              padding: 16px 0;
              width: 80%;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
            &__middle{
              display:flex;
              justify-content: space-between;
              &__price{
              font-size: 15px;
              font-weight: 600;
              }
              &__heart{
                .fa.fa-heart{
                color:palevioletred;
              }
            }
          }
            &__tax{
              font-size:10px;
            }
          }
        }
      }
    }
  }
  .all-items{
    float:right;
    padding: 20px 0 30px;
  }
  .all-items a{
    text-decoration: none;
    color: #0099e8;
    font-size:15px;
    &:hover{
      text-decoration: underline;
    }
  }
}
