.full-container{
  background-color: $gray;
  padding-bottom:40px;
  main{
    margin-top:40px;
    margin-left: calc(50% - 350px);
    @media (min-width:1000px){
      margin-left:0;
    }
    .mypage{
      margin:0 auto;
      width:1020px;
      display: flex;
      flex-direction: column-reverse;
      @media(min-width:1000px){
        flex-direction: row;
      }
      &__container{
        width:700px;
        @media(min-width:1000px){
          width: 700px;
        }
      }
      &__sidebar{
        width:700px;
        margin-right:40px;
        margin-top: 40px;
        @media(min-width:1000px){
          width: 280px;
          margin-top: 0px;
        }
        &__content__list{
          width:700px;
          height:48px;
          @media(min-width:1000px){
            width:280px;
          }
          background-color:white;
          border-top:solid 1px $gray;
          list-style-type:none;
          a{
            text-decoration: none;
            display:flex;
            justify-content:space-between;
            padding:16px;
            &:hover{
              padding-right:10px;
              background-color:#eee;
              transition:all 0.2s ease;
              .fa.fa-chevron-right{
                color:#333;
                transition:color 0.2s ease;
              }
            }
            span{
              color:#333;
            } 
            .fa.fa-chevron-right{
              color:lightgray;
            }
          }
        }
        h3{
          margin:40px 0 8px 0;
        }
      }
    }
  }
}
