.background
  =render 'shared/products-new-header'
  .inputs.confirm-header
    %h3.confirm-buy-header 購入を確定しますか？
  .inputs
    .confirm-image-wrap
      =image_tag "https://fotopus.com/inu/images/top/inu_subject_03.jpg",alt: "merucari1",class: 'confirm-image'
    .confirm-product-name=@product.name
    .confirm-product-price
      .confirm-product-price__price=@product.price.to_s+"円"
      .confirm-product-price__taxin=@product.delivery_fee.name
    .confirm-buy-btn-btn
      =link_to "ポイントはありません", new_user_path, class:'confirm-buy-btn__link'
    .payment-confirm
      .payment__text 支払い金額
      .payment__price=@product.price.to_s+"円"
    .confirm-caution この商品はクレジットカードのみでお買い求め頂けます。
    -if @product.user_id == current_user.id
      .confirm-buy-btn-btn
        =link_to "あなたの出品した商品です。", edit_product_path(@product.id), class:'confirm-buy-btn__link'
    -else
      .confirm-buy-btn-btn
        -if current_user.card_registered?
          =link_to "購入する", user_product_buy_path(current_user,@product),method: :post, class:'confirm-buy-btn__link'
        -else
          =link_to new_card_path,class:'confirm-buy-btn__link' do
            .pay-content__main__bottom__btn__name
              = fa_icon('credit-card')
              %span クレジットカードを登録する
    .confirm-app-install アプリをお持ちでない方は以下よりインストールしてご利用いただけます。
    %ul.confirm-app-link
      %li
        =link_to image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?4194600336",size: "133x40"),"https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8"
      %li
        =link_to image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?4194600336",size: "133x40"),"https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja"
  .inputs
    .adresses
      .adresses__confirm-delivery-for 配送先
      .adresses__confirm-postcode 〒123-4567
      .adresses__confirm-adress 大阪府大阪市中央区平野町2-3-7
      .adresses__name 山田太郎
      .confirm-link-wrap
        =link_to new_user_path, class:'adresses__change-link' do
          .adresses__change-link__text 変更する
          %span.icon=fa_icon("chevron-right")
  .inputs
    .payment-method
      .payment-method__header 支払方法
      -if current_user.card_number_last4
        .pay-content__main__top 登録クレジットカード
        .pay-content__main__bottom-number="*************"+current_user.card_number_last4.to_s
      -else
        .payment-method__method /
      .payment-method__change-link
        =link_to card_path(current_user.id),method: :delete, class:'adresses__change-link',data: {confirm: '本当に削除し、変更しますか？'} do
          .adresses__change-link__text 削除・変更する
          %span.icon=fa_icon("chevron-right")

  =render 'shared/products-new-footer'
