.background
  =render 'shared/products-new-header'
  .inputs.confirm-header
    %h3.confirm-buy-header 購入を確定しますか？
  .inputs
    .confirm-image-wrap
      =image_tag "https://fotopus.com/inu/images/top/inu_subject_03.jpg",alt: "merucari1",class: 'confirm-image'
    .confirm-product-name=@product.name
    .confirm-product-price
      .confirm-product-price__price=@product.price.to_s+"円"
      .confirm-product-price__taxin 送料込み
    .confirm-buy-btn-btn
      =link_to "ポイントはありません", new_user_path, class:'confirm-buy-btn__link'
    .payment-confirm
      .payment__text 支払い金額
      .payment__price=(@product.price*1.08).round.to_s+"円"
    .confirm-caution この商品はゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。
    .confirm-buy-btn-btn
      =link_to "購入する", new_user_path, class:'confirm-buy-btn__link'
    .confirm-app-install アプリをお持ちでない方は以下よりインストールしてご利用いただけます。
    %ul.confirm-app-link
      %li
        =link_to image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?4194600336",size: "133x40"),"https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8"
      %li
        =link_to image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?4194600336",size: "133x40"),"https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja"
  .inputs
    .adresses
      .adresses__confirm-delivery-for 配送先
      .adresses__confirm-postcode 〒123-4567
      .adresses__confirm-adress 大阪府大阪市中央区平野町2-3-7
      .adresses__name 山田太郎
      .confirm-link-wrap
        =link_to new_user_path, class:'adresses__change-link' do
          .adresses__change-link__text 変更する
          %span.icon=fa_icon("chevron-right")
  .inputs
    .payment-method
      .payment-method__header 支払方法
      .payment-method__method /
      .payment-method__change-link
        =link_to new_user_path, class:'adresses__change-link' do
          .adresses__change-link__text 変更する
          %span.icon=fa_icon("chevron-right")

  =render 'shared/products-new-footer'
